* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
}

.product {
  border-radius: 50%;
  transform-style: preserve-3d;
}

.product img {
  width: 300px;
  z-index: 11;
}

.product:hover {
  transform: translate3d(-50%, 50%, 100px) rotate(-15deg);
}
